* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serifs;
}

.navbar {
  display: flex;
  overflow: hidden;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
}

.main {
  padding: 10px;
  height: max-content;
  margin-top: 50px;
}

.cart:hover {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgb(141, 170, 160);
  height: 300px;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  mix-blend-mode: multiply;
}

.description {
  width: 200px;
}

.trio {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons {
  margin: 5px;
}

button {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: aquamarine;
  border: 1px solid green;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.total-amount {
  text-align: center;
  margin-top: 40px;
  background-color: red;
  color: white;
}

.first {
  display: flex;
  justify-content: center;
}

.rating-input {
  border: 1px solid black;
}

.rating-btn {
  width: 50px;
  text-align: center;
  font-size: medium;
  height: auto;
}
